#content{
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.error-container{
    border: solid rgb(245, 80, 80) 2px;
    background-color: rgb(245, 185, 185);
    padding: 5px;
}