.hidden{
    display:none;
}

.visible{
    display: block;
}

.error-box{
    background-color: rgb(255, 178, 178);
    border: solid red 2px;
    padding: 5px;
    color: red;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
}